* {
    margin: 0;
}

/* HEADER */

header {
    width: 100%;
    height: 100px;
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 20%;
    margin-left: 50px;
}

.buttons_header button {
    width: 150px;
    height: 40px;
    color: rgb(red, green, blue);
    border: none;
    border-radius: 1mm;
    font-size: 0.9rem;
    font-family: roboto;
    background-color: white;
    cursor: pointer;
}

.buttons_header button:hover {
    background-color: rgb(235, 235, 235);
}

button a{
    text-decoration: none;
}

#button_connexion {
    margin-right: 20px;
}

#button_inscription {
    margin-right: 60px;
    border: none;
}

/* HEADER */

#body_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body_header h3 {
    font-family: roboto;
    font-weight: 900;
    margin-top: 30px;
    font-size: 3rem;
    color: blueviolet;
}

#body_header p {
    font-family: roboto;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: justify;
    width: 1340px;
}

.cards {
    display: flex;
    justify-content: center;
}

section h3 {
    text-align: center;
    font-family: roboto;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: underline;
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    margin: 10px;
    height: 500px;
    margin-bottom: 40px;
    border-radius: 1mm;
    border: solid 2px black;
}

article:hover {
    width: 750px;
    margin: 10px;
    height: 500px;
    margin-bottom: 40px;
    background-color: black;
    color: white;
}


article h4 {
    font-family: roboto;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
}

article p {
    width: 400px;
    font-family: roboto;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: justify;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

article img {
    margin-top: 15px;
    width: 400px;
}

article button {
    margin-top: 25px;
    margin-bottom: 30px;
    width: 200px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 1mm;
    color: white;
    border: solid 2px white;
}

article button:hover {
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: solid 2px black;
    cursor: pointer;
}


/* FOOTER */

footer {
    width: 100%;
    height: 150px;
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer img {
    margin-left: 50px;
    height: 30%;
}

ul button {
    width: 120px;
    height: 40px;
    margin-left: 10px;
    background-color: white;
    border-radius: 1mm;
    border: none;
}

footer a {
    color: rgb(red, green, blue);
    text-decoration: none;
    cursor: pointer;
}

/* FOOTER */



@media screen and (min-width:300px ) and (max-width: 780px){

    #body_header p{

        width: 250px;
    };

    .cards{

        flex-direction: column;

    
    };   


@media screen and (max-width: 500px) {

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header img {
        margin: auto;
        display: flex;
        margin-top: 8px;
    }

    .buttons_header {
        margin-top: 10px;
    }

    #button_inscription {
        margin-right: 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer img {
        height: 20%;
        margin: 0%;
        margin-top: 10px;
    }

    ul button {
        width: 100px;
        margin: 0;
    }

    ul {
        padding-left: 0px;
    }

    .cards {
        flex-direction: column;
    }
    

}}